.contacto-page-wrapper {
  padding: 80px 24px;
  background: var(--alo-oscuro);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .contacto-page-wrapper {
    padding: 130px 16px 40px !important;
  }
}