/* Fondo oscuro y espaciado */
.diseno-section {
  background: var(--seccion_diseno_fondo);
}

/* Centrado de las columnas dentro de .centered-content */
.diseno-section .centered-content:nth-child(1){
  margin-inline: auto !important;
}

/* Estilos para la columna de la izquierda (Imagen) */
.image-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Centra la imagen */
  align-items: center; /* Centra la imagen verticalmente */
}

.diseno-image {
  width: 100%; /* Hacemos la imagen más flexible */
  max-width: 462px; /* Limita el ancho máximo */
  height: auto; /* Mantiene las proporciones de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área del contenedor */
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* Estilos para la columna de la derecha (Contenido) */
.content-container {
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el contenido verticalmente */
  overflow: hidden; /* Evita el desbordamiento */
}

/* Estilos para el Tag */
.diseno-section .tag-label {
  background: transparent !important;
  border: 1px solid var(--alo-verde-claro) !important;
  color: var(--alo-verde-claro) !important;
  border-radius: 6px;
  padding: .25rem .875rem;
  font-weight: 500;
  width: fit-content;
  border-width: 1px;
}

/* Estilos para el título */
.diseno-section .diseno-title h2 {
  color: var(--seccion_diseno_titulo);
}
.diseno-section .diseno-title {
  color: var(--seccion_diseno_titulo);
  text-align: left;
  font-size: 1.9rem !important;
  line-height: 1.1;
  font-weight: 600;
  margin-top: 0.3rem;
}

/* Estilos para el subtítulo */
.diseno-section .diseno-subtitle {
  text-align: left;
  color: var(--seccion_diseno_subtitulo);
  font-size: 1.05rem;
  line-height: 1.6;
  margin-top: .6rem;
  display: block;
}

/* Estilos para la lista */
.diseno-list {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: left;
}

.diseno-list .ant-list-item {
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--seccion_diseno_textolista);
  padding-bottom: 12px;
  border-bottom: 1px solid transparent;
}

/* Estilos para el botón */
.diseno-button {
  align-self: flex-start;
  background-color: var(--alo-verde) !important;
  color: white !important;
  border-color: var(--alo-verde) !important;
  border-radius: 6px;
  padding: .25rem .875rem;
  font-weight: 500;
  width: fit-content;
  height: 40px;
  border-width: 1px;
  cursor: pointer;
}

.diseno-button:hover {
  background-color: #167a40 !important;
  border-color: #167a40 !important;
  box-shadow: 0 2px 16px rgba(26,138,74,0.45);
}

@media (min-width: 769px) {
  .diseno-section .centered-content {
    padding-top: 50px;
  }
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .diseno-section .centered-content {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    flex-direction: column !important;
  }

  .image-container {
    padding-inline: 0px !important;
    width: 100%;
  }

  .diseno-image {
    width: 100%;
    max-height: fit-content;
    object-fit: contain;
    border-radius: 12px;
  }

  .content-container {
    width: 100%;
  }

  .diseno-section .diseno-title {
    font-size: 1.5rem !important;
    margin-top: 0.5rem;
  }

  .diseno-section .diseno-subtitle {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 12px;
  }

  .diseno-list .ant-list-item {
    font-size: 0.9rem;
    line-height: 1.5;
    padding-bottom: 8px;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 900px) {
  .diseno-section .centered-content {
    flex-direction: column !important;
  }

  .diseno-section .diseno-title {
    font-size: 1.7rem !important;
  }
}
